.contact-page {
  background-color: $background-dark;
}

.header {
  img {
    width: 216px;
    padding-left: 31px;
  }

  .header__wrapper {
    display: flex;
    align-items: center;
  }
}

.side-contact {
  padding-top: 67px;

  @include media("max", "md") {
    flex-wrap: wrap;
  }

  .side__wrapper {
    @include media("max", "xxl") {
      width: 100%;
    }
  }
}

.crumbs {
  display: flex;
  color: $crumbs;
  font-family: 'Circe-Light';
  font-size: 18px;
  padding-bottom: 40px;
}

.crumbs__main {
  display: inline-block;
  color: $crumbs;
  border-bottom: 1px solid $crumbs;
  margin-right: 5px;
}

.contact {
  padding-top: 71px;
  max-width: 519px;
  padding-bottom: 25px;
  position: relative;
}

.contact-title {
  padding-bottom: 30px;
}

.contact-title, .tender__title  {
  color: $white;
  font-family: 'Gilam-Bold';
  font-size: 22px;
}

.contact__requisites  {
  margin: 46px 0;
}

.contact__requisites, .tender__file {
  width: 257px;
  padding: 10px 0;
  font-family: 'Circe-Regular'; 
  font-size: 18px;
  &:hover {
    @include hover-btn;
   }
}

.tender__file {
  margin: 26px 0;
}

.form__data-contact-file-label {
  @include media("max", "lg") {
    margin-bottom: 30px;
  }
  @include media("max", "md") {
    margin-bottom: 0px;
  }
}

.form__data-contact-name, .form__data-contact-phone, 
.form__data-contact-file-label {
  background: $contact-input;
}

.form__contact-data {
  padding-bottom: 0;
}

.map-contact {
  position: relative;
  width: 50%;
  @include media("max", "md") {
    width: 100%;
    height: 100vh;
  }

  &::before {
    content: '';
    position: fixed;
    right: 0;
    left: auto;
    background: url('/src/assets/images/map.jpg') no-repeat;
    width: 820px;
    height: 1100px;
    z-index: 0;

    @include media("max", "xxl") {
      width: 713px;
    }
    @include media("max", "xl") {
      width: 465px;
    }
    @include media("max", "lg") {
      width: 472px;
      position: absolute;
      left: -29px;
    }
    @include media("max", "md") {
      width: 100%;
      left: 0;
    }
  }

  &::after {
    content: '';
    position: fixed;
    top: 36em;
    left: auto;
    right: 490px;
    background: url('/src/assets/images/logo/logo.svg') no-repeat;
    width: 43px;
    height: 57px;
    z-index: 2;

    @include media("max", "xxl") {
      right: 24em;
    }
    @include media("max", "xl") {
      right: 9em;
    }
    @include media("max", "lg") {
      position: absolute;
      top: 28rem;
      left: 17rem;
    }

  }
}

.form__item-contact {
  padding-top: 30px;
}

.form__succes-contact {
  @include media("max", "md") {
    padding-top: 30px;
  }
}