.contact-page {
  background-color: $background-dark;
}

.header {
  img {
    width: 216px;
    padding-left: 31px;
  }

  .header__wrapper {
    display: flex;
    align-items: center;
  }
}

.side-contact {
  padding-top: 67px;
}

.crumbs {
  display: flex;
  color: $crumbs;
  font-family: 'Circe-Light';
  font-size: 18px;
  padding-bottom: 40px;
}

.crumbs__main {
  display: inline-block;
  color: $crumbs;
  border-bottom: 1px solid $crumbs;
  margin-right: 5px;
}

.contact {
  padding-top: 71px;
  max-width: 519px;
  padding-bottom: 85px;
  position: relative;
}

.contact-title {
  color: $white;
  font-family: 'Gilam-Bold';
  font-size: 22px;
  padding-bottom: 30px;
}