.product-page {
  .header {
    max-width: $xl-width;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

    img {
      width: 216px;
      padding-left: 31px;
    }

    @include media("max", "lg") {
      width: 930px;
    }
  
    @include media("max", "md") {
      margin-left: 40px;
      margin-right: 40px;
      width: auto;
    }

    @include media("max", "sm") {
      width: 460px;
    }

    @include media("max", "xm") {
      margin-left: 30px;
      margin-right: 30px;
      width: $vs-width;
    }
  
    .header__wrapper {
      display: flex;
      align-items: center;
    }
  
    img {
      @include media("max", "sm") {
        display: none;
      }
    }
  }
}

.side-product {
  @include media("max", "xl") {

  }
  @include media("max", "md") {
    width: 640px;
  }

  @include media("max", "sm") {
    margin-right: auto;
    margin-left: auto;
    width: auto;
  }
}

.product__list-page {
  justify-content: start;
  @include media("max", "md") {
    justify-content: center;
  }
}

.product__list-page > .product__list-item {

  @include media("max", "sm") {
    
  }
  @include media("max", "xm") {
    width: 100%;
  }
}


.product-indent {
  background: $background-dark;
}

.product__header {
  @include media("max", "xl") {

  }
  @include media("max", "lg") {
    
  }

  @include media("max", "md") {
    width: 640px;
  }

  @include media("max", "sm") {
    width: auto;
  }

  @include media("max", "xm") {
    margin-right: auto;
    margin-left: auto;
  }
}

.product__wrapper{

  @include media("max", "lg") {
    width: 930px;
  }

  @include media("max", "md") {
    width: 730px;
  }

  &-page {
    padding-top: 75px;
    @include media("max", "sm") {
      width: 540px;
    }
    @include media("max", "xm") {
      width: $vs-width;
    }
  }
}

.product__list {
  &-link {
    @include media("max", "xl") {
      width: 393px;
      height: 315px;
    }
    @include media("max", "lg") {
      width: 460px;
      height: 391px;
    }
    @include media("max", "md") {
      // width: 314px;
      // height: 315px;
    }
    @include media("max", "sm") {
      width: 445px;
    }
    @include media("max", "xm") {
      width: 100%;
      height: 257px;
    }
  }
}

.product__company-inprogress {
  &:before {
    content: '';
    position: absolute;
    top: 29px;
    right: 26px;
    left: auto;
    width: 22px;
    height: 22px;
    background: $background-inprogress;
    border-radius: 50%;
    animation: yellow-pulse 1.4s infinite;

    @-webkit-keyframes yellow-pulse {
      0% {
        -webkit-box-shadow: $background-inprogress;
      }
      70% {
          -webkit-box-shadow: $akcent-hight-pulse;
      }
      100% {
          -webkit-box-shadow: $akcent-pulse;
      }
    }
    @keyframes yellow-pulse {
      0% {
        -moz-box-shadow: $akcent-low-pulse;
        box-shadow: $akcent-low-pulse;
      }
      70% {
          -moz-box-shadow: $background-inprogress;
          box-shadow: $akcent-hight-pulse;
      }
      100% {
          -moz-box-shadow: $akcent-pulse;
          box-shadow: $akcent-pulse;
      }
    }
  }
}

.product__company-ready {
  &:before {
    content: '';
    position: absolute;
    top: 29px;
    right: 26px;
    left: auto;
    width: 22px;
    height: 22px;
    background: $background-ready;
    border-radius: 50%;
    animation: green-pulse 1.4s infinite;

    @-webkit-keyframes green-pulse {
      0% {
        -webkit-box-shadow: $background-ready;
      }
      70% {
          -webkit-box-shadow: $akcent-hight-ready;
      }
      100% {
          -webkit-box-shadow: $akcent-ready;
      }
    }
    @keyframes green-pulse {
      0% {
        -moz-box-shadow: $akcent-low-ready;
        box-shadow: $akcent-low-ready;
      }
      70% {
          -moz-box-shadow: $background-ready;
          box-shadow: $akcent-hight-ready;
      }
      100% {
          -moz-box-shadow: $akcent-ready;
          box-shadow: $akcent-pulse;
      }
    }
  }
}

.product__company-ready:hover::before{
  color: $white;
  content: 'завершен';
  font-family: 'Gilam-Regular'; 
  font-size: 13px;
  line-height: 1.8;
  overflow: hidden;
  background: $background-ready;
  width: 86px;
  border-radius: 22px;
  transition: .3s;
}

.product__company-inprogress:hover::before {
  color: $white;
  content: 'в процессе';
  font-family: 'Gilam-Regular'; 
  font-size: 13px;
  line-height: 1.8;
  overflow: hidden;
  background: $background-inprogress;
  width: 86px;
  border-radius: 22px;
  transition: .3s;
}

.product__company-description {
  @include media("max", "xm") {
    font-size: 20px;
    font-family: 'Gilam-SemiBold';
    width: 272px;
  }
}

 .footer__wrapper {
  &-product {
    position: relative;
    @include media("max", "lg") {
      width: 930px;
    }
    @include media("max", "md") {
      width: 640px;
    }
    @include media("max", "md") {
      width: 440px;
    }
  }

  @include media("max", "xl") {
    margin-right: auto;
    margin-left: auto;
  }
}

.form__data {
  &-product {
    @include media("max", "xl") {
      
    }
  }

}
.form__button-product {
  width: 320px;
  @include media("max", "md") {
    width: 100%;
    margin-top: 33px;
    padding: 20px 0;
  }
}

.form__file-label {
  @include media("max", "xl") {
    width: 375px;
  }
}

.form__item-product {
  @include media("max", "xl") {
    margin-right: 34px;
  }
  @include media("max", "md") {
    max-width: 100%;
    margin-right: 0;
  }
  @include media("max", "sm") {
    margin-right: 0;
    width: 100%;
  }
}

.form__file-product {
  @include media("max", "md") {
    width: 100%;
  }
}

.form__wrapper {
  & .form__item-product:nth-child(2) {
    padding-top: 20px;
  }
}

.product__adress {
  @include media("max", "xm") {
    display: block;
    width: 207px;
    font-size: 20px;
    padding-top: 10px;
  }
}

.product__adress-btn {
  @include media("max", "xm") {
    display: none;
  }
}

.popup__overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: $main-overlay;
  opacity: 0;

  &.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.3s all;
  }
}

.popup__window {
  position: absolute;
  width: 650px;
  height: 550px;
  top: 33%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: $background-black;
  z-index: 99;
  transform: translate(-50%, -50%) scale(0);

  &.active {
    transform: translate(0%, -20%) scale(1);
    transition: 0.3s all;
  }
}

.popup__info {
  padding: 10px 107px 84px 94px;
}

.popup__list {
  &-item {
    font-size: 20px;
    padding-bottom: 27px;
    color: $white;
  }
}

.popup__details-name {
  font-family: 'Gilam-Bold';
  display: block;
  line-height: 42px;
}

.popup__details-value {
  font-family: 'Gilam-Book';
}

.pupup__close {
  display: flex;
  justify-content: flex-end;
  padding: 18px;
}