.product-page {
  .header {
    width: auto;
    margin-right: 121px;
    margin-left: 121px;
    max-width: $xl-width;
    margin: 0 auto;

    @include media("max", "xl") {
      margin-right: 121px;
      margin-left: 121px;
    }

    img {
      width: 216px;
      padding-left: 31px;
    }
  
    @include media("max", "md") {
      margin-left: 40px;
      margin-right: 40px;
    }
  
    @include media("max", "xm") {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .header__wrapper {
      display: flex;
      align-items: center;
    }
  
    img {
      @include media("max", "sm") {
        display: none;
      }
    }
  }
}

.side-product {
  @include media("max", "xl") {

  }
  @include media("max", "sm") {
    margin-right: auto;
    margin-left: auto;
  }
}

// .side-wrapper {
//   @include media("max", "md") {
//     margin-left: 0;
//   }
// }

.product__list-page {
  justify-content: start;
}

.product__list-page > .product__list-item {
  @include media("max", "sm") {
    width: 100%;
  }
  @include media("max", "xm") {
    width: 450px;
  }
}


.product-indent {
  background: $background-dark;
}

.product__header {
  @include media("max", "xl") {

  }
  @include media("max", "lg") {
    
  }
  @include media("max", "xm") {
    margin-right: auto;
    margin-left: auto;
  }
}

.product__wrapper{
  &-page {
    width: auto;
    max-width: $xl-width;
    margin: 0 auto;
    padding-top: 75px;
  }
}

.product__list {
  &-link {
    @include media("max", "xl") {
      width: 380px;
      height: 315px;
    }
    @include media("max", "lg") {
      width: 487px;
      height: 391px;
    }
    @include media("max", "md") {
      width: 360px;
      height: 315px;
    }
    @include media("max", "sm") {
      width: 445px;
    }
  }
}

.product__company-inprogress {
  &:before {
    content: '';
    position: absolute;
    top: 29px;
    right: 26px;
    left: auto;
    width: 22px;
    height: 22px;
    background: $background-inprogress;
    border-radius: 50%;
    animation: yellow-pulse 1.4s infinite;

    @-webkit-keyframes yellow-pulse {
      0% {
        -webkit-box-shadow: $background-inprogress;
      }
      70% {
          -webkit-box-shadow: $akcent-hight-pulse;
      }
      100% {
          -webkit-box-shadow: $akcent-pulse;
      }
    }
    @keyframes yellow-pulse {
      0% {
        -moz-box-shadow: $akcent-low-pulse;
        box-shadow: $akcent-low-pulse;
      }
      70% {
          -moz-box-shadow: $background-inprogress;
          box-shadow: $akcent-hight-pulse;
      }
      100% {
          -moz-box-shadow: $akcent-pulse;
          box-shadow: $akcent-pulse;
      }
    }
  }
}

.product__company-ready {
  &:before {
    content: '';
    position: absolute;
    top: 29px;
    right: 26px;
    left: auto;
    width: 22px;
    height: 22px;
    background: $background-ready;
    border-radius: 50%;
    animation: green-pulse 1.4s infinite;

    @-webkit-keyframes green-pulse {
      0% {
        -webkit-box-shadow: $background-ready;
      }
      70% {
          -webkit-box-shadow: $akcent-hight-ready;
      }
      100% {
          -webkit-box-shadow: $akcent-ready;
      }
    }
    @keyframes green-pulse {
      0% {
        -moz-box-shadow: $akcent-low-ready;
        box-shadow: $akcent-low-ready;
      }
      70% {
          -moz-box-shadow: $background-ready;
          box-shadow: $akcent-hight-ready;
      }
      100% {
          -moz-box-shadow: $akcent-ready;
          box-shadow: $akcent-pulse;
      }
    }
  }
}

.product__company-ready:hover::before{
  color: $white;
  content: 'завершен';
  font-family: 'Gilam-Regular'; 
  font-size: 13px;
  line-height: 1.8;
  overflow: hidden;
  background: $background-ready;
  width: 86px;
  border-radius: 22px;
  transition: .3s;
}

.product__company-inprogress:hover::before {
  color: $white;
  content: 'в процессе';
  font-family: 'Gilam-Regular'; 
  font-size: 13px;
  line-height: 1.8;
  overflow: hidden;
  background: $background-inprogress;
  width: 86px;
  border-radius: 22px;
  transition: .3s;
}

 .footer__wrapper {
  &-product {
    position: relative;

  }
  @include media("max", "xl") {
    margin-right: 121px;
    margin-left: 121px;
  }
  @include media("max", "xl") {
    margin-right: auto;
    margin-left: auto;
  }
}

.form__data {
  &-product {
    @include media("max", "xl") {
      max-width: 100%;
    }
  }

}
.form__button-product {
  width: 327px;
  @include media("max", "sm") {
    width: 100%;
  }
}

.form__file-label {
  @include media("max", "xl") {
    width: 375px;
  }
}

.form__item-product {
  @include media("max", "xl") {
    margin-right: 34px;
  }
  @include media("max", "sm") {
    margin-right: 0;
    width: 100%;
  }
}