@import '../../node_modules/normalize.css/normalize.css';

// FONTS
@import './fonts.scss';

// VARIABLES
$white: #ffffff;
$textMark: #D6AF76;
$akcent: #E4B564;
$background-dark: #171717;
$crumbs: #606060;
$background-darknes: #202020;
$background-black: #0E0E0E;
$background-black-hover: rgba(14, 14, 14, 0.6);
$background-akcent-hover: rgba(177, 128, 55, 0.8);
$background-footer: #232323;
$main-input: #151515;
$contact-input: #0E0E0E;

//Animation
$background-inprogress: #E4B564;
$akcent-pulse: 0 0 0 0 rgba(204,169,44, 0);
$akcent-low-pulse: 0 0 0 0 rgba(204,169,44, 0.4);
$akcent-hight-pulse: 0 0 0 10px rgba(204,169,44, 0);

$background-ready: #69CE6D;
$akcent-ready: 0 0 0 0 rgba(103, 218, 57, 0);
$akcent-low-ready: 0 0 0 0 rgba(103, 218, 57, 0.4);
$akcent-hight-ready: 0 0 0 10px rgba(103, 218, 57, 0);


@import './mixin.scss';


// INITIAL

a {
  text-decoration: none;
}

p, h2 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

fieldset {
  border-color: transparent;
  padding: 0;
  margin: 0;
}

.main-page {
  background: url("../assets/images/bg.jpg") no-repeat;
  background-size: cover;
  background-position: 100%;

}

.title {
  @include desctop-title;
}

.header {
  @include xl-grid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 37px;

  @include media("max", "xl") {
    @include lg-grid;
  }

  @include media("max", "lg") {
    @include md-grid;
  }

  @include media("max", "md") {
    @include sm-grid;
  }

  @include media("max", "sm") {
    @include xs-grid;
  }

  @include media("max", "sm") {
   
  }

  @include media("max", "xm") {
    @include xs-grid;
  }

  @include media("max", "xs") {
    @include vs-grid;
  }

}

.btn {
  border: 1px solid $akcent;
  padding: 10px 0;
  color: $akcent;
  display: inline-block;
  text-align: center;
}

.side {
  display: flex;
  justify-content: space-between;
  @include xl-grid;

  @include media("max", "xl") {
    @include lg-grid;
  }

  @include media("max", "lg") {
    @include md-grid;
  }

  @include media("max", "md") {
    @include sm-grid;
  }

  @include media("max", "sm") {
    @include xs-grid;
  }

  @include media("max", "xs") {
    @include vs-grid;
  }



  .side__wrapper {
    width: 65%;

    @include media("max", "md") {
      width: 100%;
    }

  }
}

.side__services {
  padding-top: 154px;

  img {
    width: 504px;
    display: block;

    @include media("max", "sm") {
      width: 100%;
    }
  }

  @include media("max", "sm") {
    padding-top: 63px;
  }
}

.services {
  padding: 40px 0 61px 0;
}

.services__list { 
  display: flex;
  flex-wrap: wrap;
}

.services__list-item {
  display: flex;
  align-items: center; 
  width: 257px;

  @include media("max", "lg") {
    width: 460px;
  }

  @include media("max", "md") {
    width: 350px;
  }

  svg {
    margin-right: 21px;
  }

  span {
    font-family: 'Circe-Regular'; 
    font-size: 18px;
    color: $white;
  }
}

.headerMenu__link {
  display: inline-block;
  height: 15px;
}

.headerMenu__burger {
  width: 20px;
  border-bottom: 2px solid $white;
  display: block;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 12px;
    width: 20px;
    height: 2px;
    background: $white;
  }
  
  &::after  {
    content: '';
    position: absolute;
    bottom: -8px;
    width: 20px;
    height: 2px;
    background: $white;
  }
}

.header-contact {
  display: flex;
  align-items: center;
}

.header-contact__phone {
  font-family: 'Circe-Bold';
  font-size: 20px;
  font-weight: 700;
  color: $white;
  padding-right: 35px;
  position: relative;

  @include media("max", "xm") {
    padding-right: 78px;
  }

  @include media("max", "xs") {
    padding-right: 70px;
  }

}

.mark {
  color: $textMark;
  padding-right: 0px;

  @include media("max", "sm") {
    &::after {
      display: block;
      content: '';
      position: absolute;
      background: url("../assets/images/icons/mobile-phone.svg") no-repeat;
      width: 50px;
      height: 50px;
      top: -11px;
      right: -170px;
    }
  }
}

.header-contact__btn {
  display: inline-block;
  color: $akcent;
  font-size: 18px;
  font-family: 'Circe-Regular'; 
  border: 1px solid $akcent;
  padding: 10px 25px 10px 42px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background: url("../assets/images/icons/phone.svg") no-repeat;
    width: 16px;
    height: 16px;
    left: 17px;
    top: 12px;

    @include media("max", "md") {
      top: 17px;
    }
  }

  @include media("max", "md") {
    padding: 0;
    height: 50px;
    width: 50px;

    span {
      display: none;
    }
  }

  @include media("max", "sm") {
    display: none;
  }
}

.visualy__hiden {
  display: none;
}

.work {
  padding-bottom: 224px;

  @include media("max", "sm") {
    padding-bottom: 60px;
  }
}

.work__title {
  color: $white;
  font-family: 'Gilam-Bold';
  font-size: 24px;
  padding-bottom: 24px;
}

.work__list-item {
  display: flex;
  align-items: center;
  color: $white;
  font-family: 'Gilam-Book';
  line-height: 30px;
  font-size: 19px;

  &-mark {
    width: 14px;
    height: 2px;
    background: $white;
    display: inline-block;
    margin-right: 10px;
  }
}

.principles__item {
  &-image {
    svg {
      width: 65px;
      height: 65px;
    }
  }
}

// SLIDER

.slider {
  width: 47%;
  position: relative;
  top: 14rem;

  @include media("max", "md") {
    display: none;
  }

}

.splide--ttb > .splide__pagination {
  transform: translateX(60px);
}

.splide--ttb > .splide__pagination {
  li {
    line-height: 2;
  }
  @include media("max", "xl") {
    right: 4rem;
  }
}

#two .splide__pagination {
  width: auto;
  top: 74%;
  right: 129px;
  left: auto;
  bottom: 17em;
  transform: translateX(0%);

  @include media("max", "md") {
    top: 80%;
  }

  @include media("max", "sm") {
    left: 40px;
    right: auto;
    top: 93%;
  }

  li {
    margin-right: 22px;

    .splide__pagination__page {
      border-radius: 50%;
    }
  }
}

.splide__pagination__page {
  background: $white;
  opacity: 1;
}

#two .splide__arrow {
  top: 76%;
  right: 26px;
  left: auto;
  border-radius: 0;
  width: 40px;
  height: 40px;
  border: 1px solid $akcent;
  background: transparent;
  opacity: 1;

  @include media("max", "md") {
    top: 81%;
  }

  @include media("max", "sm") {
    top: 94%;
  }

  svg {
    fill: $akcent;
    width: 14px;
    height: 14px;
  }

  &--prev {
    margin-right: 55px;

    &:hover {
      background: $akcent;

      svg {
        fill: $white;
      }
    }

  }

  &--next {
    &:hover {
      background: $akcent;

      svg {
        fill: $white;
      }
    }
  }

}

.splide__pagination__page.is-active {
    background: $akcent;
    opacity: 1;
}

.splide__pagination__page {
  border-radius: 0;
}

.principles {
  background: $background-dark;
}

.principles__container{
  @include xl-grid;
  display: flex;
  justify-content: space-between;
  padding-top: 127px;
  padding-bottom: 61px;

  @include media("max", "xl") {
    @include lg-grid;
  }

  @include media("max", "lg") {
    @include md-grid;
    display: flex;
    flex-wrap: wrap;
  }

  @include media("max", "md") {
    @include sm-grid;
  }

  @include media("max", "sm") {
    @include xs-grid;
    padding-top: 65px;
  }

  @include media("max", "xs") {
    @include vs-grid;
  }


}

.principles__title {
  color: $white;
  font-size: 50px;
  font-family: 'Gilam-Bold';
  padding-bottom: 83px;

  @include media("max", "xm") {
    font-size: 30px;
    padding-bottom: 33px;
  }
}

.principles__list-item {
  display: flex;
  align-items: center;
  padding-bottom: 61px;

  @include media("max", "xm") {
    align-items: flex-start;
    padding-bottom: 10px;
  }
}

.principles__list-wrapper {
  margin-left: 36px;

  .principles__name {
    color: $white;
    font-family: 'Circe-Bold';
    font-size: 23px;
    padding-bottom: 17px;

    &-item {
      color: $white;
      font-family: 'Circe-Regular';
      font-size: 17px;
      line-height: 25px;
    }
  }

  @include media("max", "xm") {
    margin-top: 18px;
  }

  @include media("max", "xs") {
    margin-left: 10px;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.col-right {
  @include media("max", "lg") {
    margin: 0 auto;
    width: 80%;
  } 

  @include media("max", "sm") {
    margin: 0;
    width: 100%;
  } 

}

.machinery {
  @include media("max", "lg") {
    padding-top: 61px;
  } 
}

.machinery__image {
    width: 730px;
    height: 795px;

    @include media("max", "md") {
      width: 100%;
      height: auto;
    } 
}

.machinery__discription {
  display: block;
  padding: 0 42px;
  background: $background-darknes;
  position: absolute;
  top: 60%;
  right: 0;
  bottom: 250px;
  height: 172px;

  @include media("max", "sm") {
    position: sticky;
    left: 0;
    margin-top: -35px;
  } 

  &-title {
    font-size: 20px;
    font-family: 'Circe-Bold'; 
    color: $white;
    padding-top: 31px;
    padding-bottom: 12px;
  }

  &-subtitle {
    font-size: 16px;
    font-family: 'Circe-Light';
    color: $white;
    padding-bottom: 22px;
  }
}

.principles__link {
  display: block;
  width: 257px;
  border: 1px solid $akcent;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  color: $akcent;
  font-family: 'Circe-Regular';
  margin-left: 112px;

  @include media("max", "sm") {
    margin-left: 0;
    width: 100%;
  } 

  @include media("max", "xm") {
    margin-top: 32px;
  } 

  &:hover {
    background: $akcent;
    transition: .2s;
    color: $background-dark;
  }
}


// PRODUCT 

.product {
  background: $background-black;
}

.product__wrapper {

  @include xl-grid;
  padding-top: 171px;

  @include media("max", "xl") {
    @include lg-grid;
  }

  @include media("max", "lg") {
    @include md-grid;
  }

  @include media("max", "md") {
    @include sm-grid;
  }

  @include media("max", "sm") {
    @include xs-grid;
    padding-top: 65px;
  }

  @include media("max", "xs") {
    width: 322px;
  }

}

.product__header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @include media("max", "lg") {
    @include md-grid;
    padding-bottom: 111px;
  }

  @include media("max", "md") {
    @include sm-grid;
  }

  @include media("max", "sm") {
    @include xs-grid;
  }

  @include media("max", "xs") {
    width: 270px;
  }


}

.product__company-wrapper {
  display: none;
  padding-top: 16px;

  @include media("max", "sm") {
    display: block;
  }

} 

.product__title {
  order: 1;

  @include media("max", "lg") {
    justify-content: center;
    width: 350px;
  }

  @include media("max", "sm") {
    font-size: 30px;
    width: 210px;
  }

}

.product__more {
  width: 180px;
  font-family: 'Circe-Regular'; 
  color: $akcent;
  order: 2;
  padding: 18px 0;

  &:hover {
    background: $akcent;
    transition: .2s;
    color: $background-dark;
  }

  @include media("max", "lg") {
    order: 3;
    margin: 0 auto;
    width: 487px;
  }

  @include media("max", "md") {
    justify-content: center;
  }

  @include media("max", "sm") {
    font-size: 18px;
  }




}

.product__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  order: 3;
  padding-top: 73px;

  @include media("max", "lg") {
    order: 2;
    margin-bottom: 31px;
  }

  @include media("max", "md") {
    
  }

}

.product__list-item {
  position: relative;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: $background-black-hover;
  }

  &:nth-child(1) {
    background: url('../assets/images/product/1.jpg') no-repeat;
  }

  &:nth-child(2) {
    background: url('../assets/images/product/2.jpg') no-repeat;
  }

  &:nth-child(3) {
    background: url('../assets/images/product/3.jpg') no-repeat;
  }

  &:nth-child(4) {
    background: url('../assets/images/product/4.jpg') no-repeat;
  }

  &:nth-child(5) {
    background: url('../assets/images/product/5.jpg') no-repeat;
  }

  &:nth-child(6) {
    background: url('../assets/images/product/6.jpg') no-repeat;
  }

  &:nth-child(7) {
    background: url('../assets/images/product/7.jpg') no-repeat;
  }

  &:nth-child(8) {
    background: url('../assets/images/product/8.jpg') no-repeat;
  }

  &:nth-child(9) {
    background: url('../assets/images/product/9.jpg') no-repeat;
  }

  &:nth-child(10) {
    background: url('../assets/images/product/10.jpg') no-repeat;
  }

  &:nth-child(11) {
    background: url('../assets/images/product/11.jpg') no-repeat;
  }

  &:nth-child(12) {
    background: url('../assets/images/product/12.jpg') no-repeat;
  }

  @include media("max", "sm") {
    @include xs-grid;
  }

  @include media("max", "xs") {
    @include vs-grid;
  }


}

.product__list-link {
  display: inline-block;
  width: 487px;
  height: 391px;
  position: relative;
  transition: .4s;
  cursor: pointer;

  &:hover {
    background: $background-akcent-hover;
    

    .product__company-wrapper {
      display: block;
    }
  }

  @include media("max", "sm") {
    @include xs-grid;

    img {
      width: 35%;
    }
  }

  @include media("max", "xs") {
    height: 257px;
    width: 100%;
  }


}

.product__company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  position: relative;

  &-description {
    display: block;
    font-family: 'Gilam-Bold';
    font-size: 22px;
    color: $white;
    width: 326px;
    margin: 0 auto;

    @include media("max", "sm") {
      width: 90%;
      font-size: 19px;
      width: 192px;
    }
  }

  @include media("max", "sm") {
    height: 100%;
  }
}

.product__adress-title, .product__adress {
  display: block;
  font-family: 'Circe-Light';
  font-size: 22px;
  color: $white;
  width: 245px;
  margin: 0 auto;

  @include media("max", "sm") {
    display: none;
  } 
}

.product__adress {
  &-btn {
    display: none;
    @include media("max", "sm") {
      display: block;
      font-size: 19px;
      font-family: 'Gilam-Regular';
      color: $white;
      padding-top: 20px;
    }
  }
}

.product__logo {
  width: 30%;
  margin: 0 auto;
}


//FOOTER

.footer {
  background: $background-footer;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background: url(../assets/images/map-full.svg) no-repeat;
    width: 935px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 0;

    @include media("max", "xl") {
      width: 40%;
    }
    @include media("max", "sm") {
      width: 100%;
      top: 84%;
      height: 855px;
    }

    @include media("max", "xs") {
      background-position: 7%;
    }

  }
}

.footer__contacts {
  max-width: 519px;
  padding-bottom: 85px;
  position: relative;

  &::before {
    content: '';
    background: url(../assets/images/icons/footer-bg-logo.svg) no-repeat;
    width: 409px;
    height: 536px;
    position: absolute;
    left: -28rem;

    @include media("max", "lg") {
      left: -19rem;
    }

    @include media("max", "sm") {
      left: -13rem;
    }

  }
}

.footer__title {
  padding-bottom: 79px;
  position: relative;

  @include media("max", "sm") {
    font-size: 30px;
    width: 253px;
    padding-bottom: 29px;
  }

}

.footer__wrapper {
  padding-top: 150px;
  @include xl-grid;

  @include media("max", "xl") {
    @include lg-grid;
  }

  @include media("max", "lg") {
    @include md-grid;
  }

  @include media("max", "md") {
    @include sm-grid;
  }

  @include media("max", "sm") {
    @include xs-grid;
    padding-top: 45px;
  }

  @include media("max", "xs") {
    @include vs-grid;
  }

}

.footer__contacts-title {
  color: $white;
  font-family: 'Gilam-Bold';
  font-size: 22px;
  padding-bottom: 30px;
}


.contacts {
  padding-left: 33px;
  position: relative;
}

.contacts__item {

  &-link {
    display: block;
    font-family: 'Gilam-Regular';
    color: $white;
    font-size: 26px;
    position: relative;
    padding-bottom: 26px;

    &:before {
      content: '';
      width: 16px;
      height: 16px;
      background: url(../assets/images/icons/phone.svg) no-repeat;
      position: absolute;
      left: -29px;
      top: 7%;
    }
  }

  &-mail, &-addres {
    display: block;
    font-family: 'Gilam-Regular';
    font-size: 20px;
    color: $white;
    line-height: 28px;
  }

  &-mail {
    padding-bottom: 30px;

    &:before {
      content: '';
      width: 16px;
      height: 16px;
      background: url(../assets/images/icons/secured_letter.svg) no-repeat;
      position: absolute;
      left: 0;
      top: 36%;
    }
  }

  &-addres {
    
    &:before {
      content: '';
      width: 16px;
      height: 16px;
      background: url(../assets/images/icons/marker.svg) no-repeat;
      position: absolute;
      left: 0;
      top: 70%;
    }
  }
}

// FORM 



.form {
  z-index: 1;
  position: relative;
  margin-bottom: 49px;
  margin-right: 40px;
}
  
.form__header {
  padding-bottom: 45px;
}

.form__wrapper {
  max-width: 714px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;

  @include media("max", "xl") {
    flex-direction: column;
  }

  @include media("max", "sm") {
    padding-bottom: 0;
  }

  @include media("max", "xs") {
    
  }
}

.form__title {
  color: $white;
  font-size: 30px;
  font-family: 'Gilam-SemiBold'; 
  padding-bottom: 13px;
}

.form__item {
  display: flex;
  flex-wrap: wrap;
  max-width: 320px;
  margin-right: 34px;
  order: 1;
  position: relative;

  @include media("max", "xl") {
    max-width: 100%;
    margin-right: 0;
  }

  @include media("max", "sm") {
    max-width: 100%;
    width: 100%;
    padding-bottom: 20px;
  }
}

.form__description {
  font-family: 'Gilam-Book'; 
  font-size: 18px;
  color: $white;

  @include media("max", "lg") {
  
  }

}

.form__data {
  padding-bottom: 97px;

  &-label {
    font-family: 'Gilam-Book'; 
    font-size: 16px;
    color: $white;
    padding-bottom: 14px;
  }
}


.form__data-name, .form__data-phone {
    font-family: 'Gilam-Book'; 
    background: $main-input;
    color: $white;
    border: none;
    padding: 0 25px;
    width: 339px;
    height: 60px;
    border-color: transparent;
    outline-color: $akcent;
    
    &:focus {
      background: $akcent;
      border-color: $akcent;
      border-radius: 0;
      color: $background-dark;

      &::placeholder {
        color: $background-dark;
        font-size: 14px;
      }
    }

    &:focus-visible {
      outline: none;
    }

    &::placeholder {
      color: $white;
      font-size: 14px;
    }

    @include media("max", "xl") {
      width: 100%;
    }

  }

.form__button {
  background: $main-input;
}


#form__Icon {
  fill: $white;
}
// #form__Icon {
//   fill: $white;
// }

.form__file-label {
  color: $white;
  font-family: 'Gilam-Book';
  padding: 15px 25px 0 25px;
  line-height: 2;
  width: 339px;
  height: 45px;
  background: $background-dark;
  position: relative;

    &:hover {
      cursor: pointer;
      background: $akcent;
      color: $background-dark;
      transition: .3s;

      @include media("max", "sm") {
        width: 100%;
      }
    }
}

.contact {
  padding-right: 20px;
}

.form__file-marker {
  float: right;
  display: inline-block;
}

input[type=file] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
  z-index: -10;
}

input[type=file]:focus + .form__file-label {
  color: $white;

}

.form__button {
  padding: 15px 0;
  width: 339px;
  background: inherit;
  font-family: 'Gilam-SemiBold'; 
  order: 2;

  @include media("max", "sm") {
    order: 3;
    width: 100%;
  }

  &:hover {
    color: $background-dark;
    background: $akcent;
    transition: .3s;
    cursor: pointer;
  }
}

.form__succes {
  padding-top: 41px;
  padding-bottom: 25px;
  order: 3;

  @include media("max", "xxl") {
    order: 2;
  }  
  @include media("max", "md") {
    order: 2;
    padding-top: 0;
  }
}

.form__succes-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__succes-label {
  font-family: 'Gilam-Book';
  font-size: 16px;
  color: $white;
  flex-wrap: wrap;

  @include media("max", "md") {
    margin-top: 5px;
  }

}

.form__succes-input + .form__succes-label {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  flex-wrap: nowrap;

  &::before {
    content: '';
    display: inline-block;
    width: 29px;
    height: 29px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $akcent;
    border-radius: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
}

.form__succes-input {

  &:checked + .form__succes-label:before {
    background: $akcent;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 13'%3e%3cpath fill='white' d='M10.992 2.867L4.875 8.98403L2.54964 6.65867L1.78369 7.42462L4.875 10.5159L11.758 3.63295L10.992 2.867Z'/%3e%3c/svg%3e");
  }
}

.form__succes-link {
  display: inline-block;
  cursor: pointer;
  color: $white;
  border-bottom: 1px solid $white;

  @include media("max", "xs") {
    // width: 161px;
  }

  @include media("max", "vs") {
    width: 159px;
  }

}

// FILES

@import '../styles/components/contact.scss';
@import '../styles/components/product.scss';
@import 'components/main';
@import 'components/logo';





