@import '../../node_modules/normalize.css/normalize.css';

// FONTS
@import './fonts.scss';

// VARIABLES
$white: #ffffff;
$textMark: #D6AF76;
$akcent: #E4B564;
$background-dark: #171717;
$background-darknes: #202020;
$background-black: #0E0E0E;
$background-black-hover: rgba(14, 14, 14, 0.6);
$background-akcent-hover: rgba(177, 128, 55, 0.8);
$background-footer: #232323;
$background-input: #151515;

@import './mixin.scss';

// INITIAL

a {
  text-decoration: none;
}

p, h2 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

fieldset {
  border-color: transparent;
  padding: 0;
  margin: 0;
}

header {
  background: url("../assets/images/bg.jpg") no-repeat;
  background-size: cover;
}

.title {
  @include desctop-title;
}

.header {
  @include md-grid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 37px;
}

.btn {
  border: 1px solid $akcent;
  padding: 10px 0;
  color: $akcent;
  display: inline-block;
  text-align: center;
}

.side__services {
  padding-top: 154px;

  img {
    width: 504px;
    height: 77px;
    display: block;
  }
}

.services {
  padding: 40px 0 61px 0;
}

.services__list { 
  display: flex;
  flex-wrap: wrap;
}

.services__list-item {
  display: flex;
  align-items: center; 
  width: 257px;

  svg {
    margin-right: 21px;
  }

  span {
    font-family: 'Circe-Regular'; 
    font-size: 18px;
    color: $white;
  }
}

.headerMenu__link {
  display: inline-block;
  height: 15px;
}

.headerMenu__burger {
  width: 20px;
  border-bottom: 2px solid $white;
  display: block;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 12px;
    width: 20px;
    height: 2px;
    background: $white;
  }
  
  &::after  {
    content: '';
    position: absolute;
    bottom: -8px;
    width: 20px;
    height: 2px;
    background: $white;
  }
}

.contact__phone {
  font-family: 'Circe-Bold';
  font-size: 20px;
  font-weight: 700;
  color: $white;
  padding-right: 35px;
}

.mark {
  color: $textMark;
  padding-right: 0px;
}

.contact__btn {
  color: $akcent;
  font-size: 18px;
  font-family: 'Circe-Regular'; 
  border: 1px solid $akcent;
  padding: 10px 25px 10px 42px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background: url("../assets/images/icons/phone.svg") no-repeat;
    width: 16px;
    height: 16px;
    left: 17px;
    top: 15px;
  }
}

.visualy__hiden {
  display: none;
}

.work {
  @include md-grid;
  padding-bottom: 224px;
}

.work__title {
  color: $white;
  font-family: 'Gilam-Bold';
  font-size: 24px;
}

.work__list-item {
  display: flex;
  align-items: center;
  color: $white;
  font-family: 'Gilam-Book';
  line-height: 30px;
  font-size: 19px;

  &-mark {
    width: 14px;
    height: 2px;
    background: $white;
    display: inline-block;
    margin-right: 10px;
  }
}

.side {
  display: flex;
  justify-content: space-between;
  @include md-grid;

  .side__wrapper {
    width: 65%;
  }
}

// SLIDER

.slider {
  width: 47%;
  position: relative;
  top: 14rem;
}

.splide--ttb > .splide__pagination {
  transform: translateX(60px);
}

.splide__pagination {
  li {
    line-height: 2;
  }
}

#two .splide__pagination {
  width: auto;
  top: 74%;
  right: 129px;
  left: auto;
  bottom: 17em;
  transform: translateX(0%);

  li {
    margin-right: 22px;

    .splide__pagination__page {
      border-radius: 50%;
    }
  }
}

.splide__pagination__page {
  background: $white;
  opacity: 1;
}

#two .splide__arrow {
  top: 76%;
  right: 26px;
  left: auto;
  border-radius: 0;
  width: 40px;
  height: 40px;
  border: 1px solid $akcent;
  background: transparent;
  opacity: 1;

  svg {
    fill: $akcent;
    width: 14px;
    height: 14px;
  }

  &--prev {
    margin-right: 55px;

    &:hover {
      background: $akcent;

      svg {
        fill: $white;
      }
    }

  }

  &--next {
    &:hover {
      background: $akcent;

      svg {
        fill: $white;
      }
    }
  }

}

.splide__pagination__page.is-active {
    background: $akcent;
    opacity: 1;
}

.splide__pagination__page {
  border-radius: 0;
}

.grid-md {
  @include md-grid;
}

.principles-bg {
  background: $background-dark;
  padding-top: 127px;
  padding-bottom: 61px;
}

.principles__title {
  color: $white;
  font-size: 50px;
  font-family: 'Gilam-Bold';
  padding-bottom: 83px;
}

.principles__list-item {
  display: flex;
  align-items: center;
  padding-bottom: 61px;
}

.principles__list-wrapper {
  margin-left: 36px;
  .principles__name {
    color: $white;
    font-family: 'Circe-Bold';
    font-size: 23px;
    padding-bottom: 17px;

    &-item {
      color: $white;
      font-family: 'Circe-Regular'; 
      font-size: 17px;
      line-height: 25px;
    }
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.machinery__image {
    width: 730px;
    height: 795px;
}

.machinery__discription {
  display: block;
  padding: 0 42px;
  background: $background-darknes;
  position: absolute;
  top: 60%;
  right: 0;
  bottom: 250px;
  height: 172px;

  &-title {
    font-size: 20px;
    font-family: 'Circe-Bold'; 
    color: $white;
    padding-top: 31px;
    padding-bottom: 12px;
  }

  &-subtitle {
    font-size: 16px;
    font-family: 'Circe-Light';
    color: $white;
    padding-bottom: 22px;
  }
}

.principles__link {
  display: block;
  width: 257px;
  border: 1px solid $akcent;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  color: $akcent;
  font-family: 'Circe-Regular';
  margin-left: 112px;


  &:hover {
    background: $akcent;
    transition: .2s;
    color: $background-dark;
  }
}


// PRODUCT 

.product {
  background: $background-black;

  &__wrapper {
    @include md-grid;
    padding-top: 171px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 71px;
  }
}

.product__company-wrapper {
  display: none;
  padding-top: 16px;
}

.product__more {
  width: 180px;
  font-family: 'Circe-Regular'; 
  color: $akcent;

  &:hover {
    background: $akcent;
    transition: .2s;
    color: $background-dark;
  }
}

.product__list {
  display: flex;
  flex-wrap: wrap;
}

.product__list-item {
  position: relative;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: $background-black-hover;
  }

  &:nth-child(1) {
    background: url(../assets/images/product/1.jpg) no-repeat;
  }

  &:nth-child(2) {
    background: url(../assets/images/product/2.jpg) no-repeat;
  }

  &:nth-child(3) {
    background: url(../assets/images/product/3.jpg) no-repeat;
  }

  &:nth-child(4) {
    background: url(../assets/images/product/4.jpg) no-repeat;
  }

  &:nth-child(5) {
    background: url(../assets/images/product/5.jpg) no-repeat;
  }

  &:nth-child(6) {
    background: url(../assets/images/product/6.jpg) no-repeat;
  }

}

.product__list-link {
  display: inline-block;
  width: 487px;
  height: 391px;
  position: relative;
  transition: .4s;
  cursor: pointer;

  &:hover {
    background: $background-akcent-hover;
    

    .product__company-wrapper {
      display: block;
    }
  }
}



//   &:hover {
//     background: $background-akcent-hover;

//     &:before {
//       opacity: 0;
//     }
//   }

.product__company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  position: relative;

  &-description {
    display: block;
    font-family: 'Gilam-Bold';
    font-size: 22px;
    color: $white;
    width: 326px;
    margin: 0 auto;
  }
}

.product__adress-title, .product__adress {
  display: block;
  font-family: 'Circe-Light';
  font-size: 22px;
  color: $white;
  width: 245px;
  margin: 0 auto;
}

.product__logo {
  width: 30%;
  margin: 0 auto;
}


//FOOTER

.footer {
  background: $background-footer;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background: url(../assets/images/map-full.svg) no-repeat;
    width: 935px;
    height: 100%;
    top: 0;
    right: 0;
  }

  &__contacts {
    max-width: 519px;
    padding-bottom: 85px;
    position: relative;

    &::before {
      content: '';
      background: url(../assets/images/icons/footer-bg-logo.svg) no-repeat;
      width: 409px;
      height: 536px;
      position: absolute;
      left: -28rem;
    }
  }

  &__title {
    padding-bottom: 79px;
  }

  &__wrapper {
    padding-top: 150px;
    @include md-grid
  }

  &__contacts-title {
    color: $white;
    font-family: 'Gilam-Bold';
    font-size: 22px;
    padding-bottom: 30px;
  }
}

.contacts {
  padding-left: 33px;
  position: relative;
}

.contacts__item {

  &-link {
    display: block;
    font-family: 'Gilam-Regular';
    color: $white;
    font-size: 26px;
    position: relative;
    padding-bottom: 26px;

    &:before {
      content: '';
      width: 16px;
      height: 16px;
      background: url(../assets/images/icons/phone.svg) no-repeat;
      position: absolute;
      left: -29px;
      top: 7%;
    }
  }

  &-mail, &-addres {
    display: block;
    font-family: 'Gilam-Regular';
    font-size: 20px;
    color: $white;
    line-height: 28px;
  }

  &-mail {
    padding-bottom: 30px;

    &:before {
      content: '';
      width: 16px;
      height: 16px;
      background: url(../assets/images/icons/secured_letter.svg) no-repeat;
      position: absolute;
      left: 0;
      top: 36%;
    }
  }

  &-addres {
    
    &:before {
      content: '';
      width: 16px;
      height: 16px;
      background: url(../assets/images/icons/marker.svg) no-repeat;
      position: absolute;
      left: 0;
      top: 70%;
    }
  }
}

// FORM 



.form {

  &__header {
    padding-bottom: 45px;
  }

  &__wrapper {
    max-width: 713px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 36px;
  }

  &__title {
    color: $white;
    font-size: 30px;
    font-family: 'Gilam-SemiBold'; 
    padding-bottom: 13px;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    max-width: 339px;
    position: relative;
  }

  &__description {
    font-family: 'Gilam-Book'; 
    font-size: 18px;
    color: $white;
  }

  &__data {
    padding-bottom: 97px;
  }

  &__data-label {
    font-family: 'Gilam-Book'; 
    font-size: 16px;
    color: $white;
    padding-bottom: 14px;
  }

  &__data-name, &__data-phone {
    font-family: 'Gilam-Book'; 
    background: $background-input;
    color: $white;
    border: none;
    padding: 15px 25px;
    width: 339px;
    border-color: transparent;
    outline-color: $akcent;
    
    
    &:focus {
      background: $akcent;
      border-color: $akcent;
      border-radius: 0;
      color: $background-dark;

      &::placeholder {
        color: $background-dark;
        font-size: 14px;
      }
    }

    &:focus-visible {
      outline: none;
    }

    &::placeholder {
      color: $white;
      font-size: 14px;
    }
  }

  &__button {
    background: $background-input;
  }

}

#form__Icon {
  fill: $white;
}
// #form__Icon {
//   fill: $white;
// }

.form__file-label {
  color: $white;
  font-family: 'Gilam-Book';
  padding: 15px 25px;
  width: 339px;
  background: $background-dark;
  position: relative;

    &:hover {
      cursor: pointer;
      background: $akcent;
      color: $background-dark;
      transition: .3s;

      // .form__file-marker + use path#lform__Icon {
      //   fill: $background-dark;
      // }
    }
}


.form__file-marker {
  float: right;
  display: inline-block;
}

input[type=file] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
  z-index: -10;
}

input[type=file]:focus + .form__file-label {
  color: $white;

}

.form__button {
  padding: 15px 0;
  width: 339px;
  background: inherit;
  font-family: 'Gilam-SemiBold'; 

  &:hover {
    color: $background-dark;
    background: $akcent;
    transition: .3s;
    cursor: pointer;
  }
}

.form__succes-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__succes-label {
  font-family: 'Gilam-Book';
  font-size: 16px;
  color: $white;
}

.form__succes-input + .form__succes-label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;

  &::before {
    content: '';
    display: inline-block;
    width: 29px;
    height: 29px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $akcent;
    border-radius: 0;
    margin-right: 13px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
}

.form__succes-input {

  &:checked + .form__succes-label:before {
    background: $akcent;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 13'%3e%3cpath fill='white' d='M10.992 2.867L4.875 8.98403L2.54964 6.65867L1.78369 7.42462L4.875 10.5159L11.758 3.63295L10.992 2.867Z'/%3e%3c/svg%3e");
  }
}

.form__succes-link {
  display: inline-block;
  cursor: pointer;
  color: $white;
  margin-left: 5px;
  border-bottom: 1px solid $white;
}

// FILES

@import 'components/main';
@import 'components/logo';




