// grid
$xxl-width: 1640px;
$xl-width: 1465px;
$lg-width: 1200px;
$md-width: 940px;
$sm-width: 740px;
$xm-width: 568px;
$xs-width: 390px;
$vs-width: 320px;

// media
$sizes: ("vs":$vs-width, "xs":$xs-width, "xm":$xm-width, "sm":$sm-width, "md":$md-width, "lg":$lg-width, "xl":$xl-width, "xxl":$xxl-width);

@mixin media($minmax, $media) {
  @each $size, $resolution in $sizes {
    @if $media == $size {
      @media only screen and (#{$minmax}-width: $resolution) {
        @content;
      }
    }
  }
}


// @include media("max", "md") {}


// INITIAL

@mixin desctop-title {
  color: $white;
  font-size: 50px;
  font-family: 'Gilam-Bold';
}

@mixin xl-grid {
  width: $xl-width;
  margin: 0 auto;
}

@mixin lg-grid {
  width: $lg-width;
}

@mixin md-grid {
  width: $md-width;
  margin: 0 auto;
}

@mixin sm-grid {
  width: $sm-width;
}

@mixin xm-grid {
  width: $xm-width;
}

@mixin xs-grid {
  width: $xs-width;
}

@mixin vs-grid {
  width: 270px;
}

//styles

@mixin hover-btn {
  color: $background-dark;
  background: $akcent;
  transition: .3s;
  cursor: pointer;
}